picture{
  display: flex;
  width: 10%;
  min-width: 40px;
}

#logo{
    width: 100%;
    min-width: 40px;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}