*{
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', cursive;
font-family: 'Space Mono', monospace;
color: white;
}

body{
  background-color: rgb(0, 0, 0);
}

h1{
  margin: 1em;
  text-align: center;
  font-size: 4em;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

h6{
  font-size: 1.5em;
}

span{
  font-size: 1.1em;
}